.pitch-tool {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  font-family: Roboto, Sans-Serif;
  font-size: 18px;
}

.control-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ddd;
  border-bottom: 1px solid #333;
  width: 100%;
  height: 30%;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.controls-octave,
.controls-instrument {
  align-self: center;
}

.controls span {
  cursor: default;
}

.octave-shifter,
.instrument-selector {
  font-weight: bold;
}

.octave-shifter:active,
.instrument-selector.selected {
  color: #3a7a94;
  text-shadow: 0 0 16px #68bcff;
}

.instrument-selector {
  font-size: 22px;
}

.keys {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70%;
  position: relative;
}

.white-key,
.black-key {
  position: relative;
  border: 1px outset;
}

.white-key {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.white-key.pressed {
  background-color: #eee;
}

.black-key {
  background: linear-gradient(#222, #888);
  color: #fff;
  width: calc(60% / 15);
  height: 60%;
  z-index: 1;
  position: absolute;
  margin-left: calc(-30% / 15);
}

.black-key.pressed {
  background: linear-gradient(#888, #222);
}

.key-name {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  color: #aaa;
  cursor: default;
}

.selection-disabled {
  -webkit-touch-callout: none;
  user-select: none;
}