.pitch-tool-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;

  &.open {
    color: #eee;
    background-color: #333;

    &:not(:active) svg {
      fill: #eee;
    }
  }

  svg {
    height: 1.35em;
    fill: #333;
    margin-right: 8px;
  }
}

.pitch-tool-container {
  z-index: 1020;
}

.pitch-tool {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  font-family: Roboto, sans-serif;
  cursor: default;
  background-color: #fff;

  &.selection-disabled {
    -webkit-touch-callout: none;
    user-select: none;
  }

  .control-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #333;
    width: 100%;
    height: 30%;
  }

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #333;
    font-size: 14px;
  }

  &.above-400 .controls {
    font-size:18px;
  }

  &.above-600 .controls {
    font-size: 24px;
  }

  &.above-800 .controls {
    font-size: 30px;
  }

  &.above-1000 .controls {
    font-size: 36px;
  }

  &.above-1200 .controls {
    font-size: 42px;
  }

  &.above-1400 .controls {
    font-size: 48px;
  }

  &.above-1600 .controls {
    font-size: 54px;
  }

  &.above-1800 .controls {
    font-size: 60px;
  }

  .controls-octave,
  .controls-instrument {
    align-self: center;
  }

  .controls-instrument {
    display: flex;
    flex-direction: row;
  }

  .current-octave,
  .control-label {
    cursor: default;
  }

  .control-label {
    color: #666;
  }

  .octave-shifter {
    font-weight: bold;
    font-size: 1.33em;
    margin-left: calc(1.33em / 5);
    margin-right: calc(1.33em / 5);
    line-height: 1em;

    &:not(.exhausted) {
      cursor: pointer;

      &:active {
        color: #3a7a94;
      }
    }

    &.exhausted {
      color: #aaa;
    }
  }

  .instrument-selector {
    display: flex;
    font-size: 1.22em;
    height: 1.22em;
    margin-left: calc(1.22em / 8);
    margin-right: calc(1.22em / 8);
    cursor: pointer;

    svg {
      height: 100%;
      fill: #333;
    }

    &.selected svg {
      fill: #3a7a94;
    }
  }

  &.above-600 .instrument-selector,
  &.above-800 .instrument-selector,
  &.above-1000 .instrument-selector,
  &.above-1200 .instrument-selector,
  &.above-1400 .instrument-selector,
  &.above-1600 .instrument-selector,
  &.above-1800 .instrument-selector {
    padding: calc(1.22em / 8) calc(1.22em / 4);
    border: 1px solid #aaa;
    border-radius: calc(1.22em / 6);
  }

  .keys {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    position: relative;
  }

  .white-key,
  .black-key {
    position: relative;
    border: 1px outset;
  }

  .white-key {
    background-color: #fff;
    width: 100%;
    height: 100%;

    &.pressed {
      background-color: #eee;
    }
  }

  .black-key {
    background: linear-gradient(#222, #888);
    color: #fff;
    width: calc(60% / 15);
    height: 60%;
    z-index: 1021;
    position: absolute;
    margin-left: calc((0% - 30%) / 15);

    &.pressed {
      background: linear-gradient(#888, #222);
    }
  }

  .key-name {
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    color: #aaa;
    cursor: default;
    font-size: 18px;
  }
}



