.pitch-tool {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  font-family: Roboto, Sans-Serif;
  font-size: 18px;
}

.pitch-tool .control-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ddd;
  border-bottom: 1px solid #333;
  width: 100%;
  height: 30%;
}

.pitch-tool .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #333;
}

.pitch-tool .controls-octave,
.pitch-tool .controls-instrument {
  align-self: center;
}

.pitch-tool .controls span {
  cursor: default;
}

.pitch-tool .octave-shifter,
.pitch-tool .instrument-selector {
  font-weight: bold;
  font-size: 24px;
}

.pitch-tool .octave-shifter:active:not(.exhausted),
.pitch-tool .instrument-selector.selected {
  color: #3a7a94;
  text-shadow: 0 0 16px #68bcff;
}

.pitch-tool .octave-shifter.exhausted {
  color: #aaa;
}

.pitch-tool .instrument-selector {
  font-size: 22px;
}

.pitch-tool .keys {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70%;
  position: relative;
}

.pitch-tool .white-key,
.pitch-tool .black-key {
  position: relative;
  border: 1px outset;
}

.pitch-tool .white-key {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.pitch-tool .white-key.pressed {
  background-color: #eee;
}

.pitch-tool .black-key {
  background: linear-gradient(#222, #888);
  color: #fff;
  width: calc(60% / 15);
  height: 60%;
  z-index: 1;
  position: absolute;
  margin-left: calc(-30% / 15);
}

.pitch-tool .black-key.pressed {
  background: linear-gradient(#888, #222);
}

.pitch-tool .key-name {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  color: #aaa;
  cursor: default;
}

.pitch-tool.selection-disabled {
  -webkit-touch-callout: none;
  user-select: none;
}